<!DOCTYPE HTML>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <form action="#" th:action="@{/}" th:object="${eventForm}" method="post">
                <div class="form-group">
                    <label for="fromField">When should the event start?</label>
                    <input type="datetime-local" th:field="*{from}" id="fromField" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="whatDoWeDo">What do we do? </label>
                    <input type="text" th:field="*{description}" id="whatDoWeDo" class="form-control"/>   </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="row">
            <div class="col-md-auto">
                <iframe src="https://calendar.google.com/calendar/embed?mode=WEEK&amp;height=900&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=fuchsmath%40gmail.com&amp;color=%232952A3&amp;src=qfq3qv4m3jgefoeeb0imp530q4%40group.calendar.google.com&amp;color=%232F6309&amp;src=u75ptp3267h3g03vl8cko9h3to%40group.calendar.google.com&amp;color=%23853104&amp;ctz=Europe%2FAmsterdam" style="border-width:0" frameborder="0" width="900" height="900" scrolling="no"></iframe>
            </div>
        </div>

    </div>


</div>


</body>
</html>